/* Set the background image for the body element */
body {
    /*background-image: url('./images/61769.jpg');  Replace with the actual path to your image file */
    background-size: cover; /* Cover the entire viewport with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    /* You can also set background color as a fallback */
    background-color: #fff; /* Replace with your desired background color */
}

@media screen and (max-width: 768px){
    .mx-sm-0{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }    
}

.ml-1{
    margin-left: 10px;
}
.mr-1{
    margin-right: 10px;
}

/*** Reduce the opacity of the body background image 
body::after {
    content: ''; /* Create a pseudo-element 
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Adjust the alpha value (0.5) to control the image opacity 
    z-index: -1; /* Place it below the content 
  }
*/

/* notification toast */
.toast {
    position: fixed;
    bottom: 50px;
    z-index: 2000000;
    right: 15px;
    animation: swoopIn .5s forwards;
}

.chip{
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 30px;
    text-transform: capitalize;
}



.beer-box{
    display: flex;
}

.beer-box .search-box{
    width: 75%;
}

.beer-box div:nth-child(2){
    margin-right: 0px !important;
}
@media screen and (max-width: 500px){
    .beer-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .beer-box .search-box{
        width: 100%;
        margin-bottom: 15px;
    }

    .beer-box div:nth-child(2){
        margin-bottom: 25px;
    }
    
    .beer-box div:nth-child(2) button{
        float: right;
        margin: 0px !important;
    }
}

.page{
    padding: 1.5rem;
}

.bold{
    font-weight: bold !important;
}


.form-label{
    display: block;
    font-weight: 600;
    font-size: 18px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000000ad;
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-inner{
    display: block;
    width: 100%;
/*    height: 100%;*/
}

.overlay.show{
    display: flex;
    animation: fadeIn .5s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Loader */
.loading-skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* responsive tables */
.table-wrapper {
    width: 100%;
    overflow: auto;
}

.beers{
    display: flex;
}

.bg-beer{
    background-color: #d39439 !important;
}

.beer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background: tomato;
}

.update{
    border: 1px solid tomato;
    padding: 5px 10px;
    margin: 5px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.delete{
    background-color: black;
    color: white;
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 200px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

@keyframes grayOut{
    from{
        filter: grayscale(80%);
    }
    25%{
        filter: grayscale(100%);
    }
    50%{
        filter: grayscale(80%);
    }
    70%{
        filter: grayscale(100%);
    }
    to{
        filter: grayscale(80%);
    }
}

.formButton{
    border: none;
    padding: 10px;
    background: tomato;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.tbl-button{
    background: none;
    color: black;
}

.tbl-left{
    text-align: left;
}

.brewery-table {
    width: 100%;
    border-collapse: collapse; /* Collapse the table borders */
    height: auto;
    
  }
  

  .brewery-table td {
    /*border: 1px solid #ccc; /* Add a 1px solid gray border to table headers and cells 
    padding: 8px; /* Add padding for cell content 
    text-align: center; /* Center-align cell content */
    border: none;
    padding: 10px 20px;
  }
  
  .brewery-table th {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px; /* Gray background color for header cells */
  }
  .update-link {
    color: white; /* Text color of the link */
    text-decoration: none; /* Remove underlining of the link */
  }  

  .navbar .navbar-collapse .nav .nav-link.login-link {
    color: white; /* Set the desired text color */
  }

  .btn-div{
    display: flex;
    justify-content: center;
    gap: 10px;

  }

  .btn-extra{
    width: 150px;
  }

  .tap{
    margin: 5px;
  }

  .contMargin{
    margin-top: 40px;
  }

  .status-ontap{
    font-weight: bolder;
    font-size: 20px;
    color: green;
  }

  .status-upcoming{
    font-weight: bolder;
    font-size: 20px;
    color: grey;
  }

  .status-empty{
    color: red;
    font-weight: bolder;
    font-size: 20px;
    
  }

  .orderNew{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .orderTitle{
    float: left;
    margin: 0;
  }

  .noBeers{
    font-weight: bold;
    color: red;
  }

  .listTapTitle{
    font-weight: bold;
    color: green;
  }

  .listUntapTitle{
    font-weight: bold;
    color: grey;
  }

  .bg-logo{
    background: none;
    padding-bottom: 0;
    width: 20;
    height: 20;
  }


.w-fit{
    width: max-content;
}

/*  Custom animations */

@keyframes  swoopIn {
    from {
        transform:  translateY(200px);
    }
    to{
        transform:  translateY(0px);
    }
}


